h2 {
  margin: 20px 0 20px 10px;
}  

.demo-table {
  width: 80%;
  margin: 0 0 0 10px;
}

.mat-column-unique-id {
  width: 50px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-email-address {
  padding-left: 16px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

