<h2>Register New Device</h2>

<div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label>New Device Id</mat-label>
      <input matInput placeholder="New Device Id" [(ngModel)]='assignDeviceId'>
      <mat-icon matSuffix>add_circle_outline</mat-icon>
      <mat-hint>Provide the id of the new device.</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)='assignDevice()'>Register Device</button>
    <br/>
    <span>{{assignMessage}}</span>
</div>

<h2>Send Message</h2>

<div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Device Id</mat-label>
      <input matInput placeholder="Device Id" [(ngModel)]='messageDeviceId'>
      <mat-icon matSuffix>important_devices</mat-icon>
      <mat-hint>What device to message?</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <input matInput placeholder="Message" [(ngModel)]='toSend'>
      <mat-icon matSuffix>message</mat-icon>
      <mat-hint>What message do you want to send?</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)='sendMessage()'>Send Message</button>
    <br/>
    <span>{{messageMessage}}</span>
</div>